* {
  background-color: #fdfaf5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding-left: 20px;
}

h1 {
  font-weight: 500;
  font-size: 25px;
  color: blueviolet;
}

p {
  font-weight: 500;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: blueviolet;
}
